@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap");
/* ESTILOS DE ETIQUETAS -------------------------------- */
body {
  font-family: Titillium Web, Helvetica !important;
  font-size: 120%; }

main {
  margin-top: 20px !important;
  animation: fade-in 2s;
  margin: 0% 3%; }

/* titulos */
h2 {
  color: #212529;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px dotted #4899d2;
  line-height: 1.5;
  font-weight: 600;
  margin: 40px 0px;
  text-transform: uppercase; }

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #293c7d;
  padding: 5px;
  border-bottom: 3px dotted #293c7d; }

/* links */
a {
  color: #293c7d;
  text-decoration: none; }

/* parrafos */
p a {
  font-weight: 600; }

/* footer */
footer {
  margin-top: 50px;
  padding: 25px;
  font-size: 1.3rem; }
  footer .fab {
    color: #293c7d;
    font-size: 1.5rem; }

/* ESTILOS DE IDS -------------------------------- */
/* menu */
#navbar {
  background-color: white !important;
  padding: 25px 3%;
  border-bottom: 4px solid #4899d2; }
  #navbar li {
    text-align: right; }
    #navbar li .nav-link {
      color: #293c7d !important;
      font-weight: 600;
      font-size: 1.2rem; }
    #navbar li .nav-link:hover {
      color: #4899d2 !important; }
  #navbar .navbar-brand img {
    height: 30px; }
  #navbar .active {
    border-bottom: 2px solid #4899d2; }

/* recargar */
#form-recargar {
  background-color: #293c7d;
  margin-top: 8px;
  padding: 20px;
  text-align: center;
  scroll-margin-top: 100px; }
  #form-recargar p {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1; }
  #form-recargar select,
  #form-recargar input {
    margin: 5px;
    border: none; }

/* como funciona */
#como-funciona {
  scroll-margin-top: 100px; }
  #como-funciona p {
    padding: 15px !important;
    text-align: justify; }

/* operadoras */
#operadoras .card-img-top {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#operadoras .card-body p {
  margin-bottom: 0px; }

#operadoras .card-body button {
  font-weight: 600;
  color: white; }

/* preguntas frecuentes */
#preguntas-frecuentes ul {
  padding: 0;
  list-style: none; }
  #preguntas-frecuentes ul li {
    margin-bottom: 30px; }
    #preguntas-frecuentes ul li i {
      font-size: 1.2rem; }
    #preguntas-frecuentes ul li a img {
      width: 100%;
      max-width: 800px; }

/* galeria */
#galeria img {
  width: 100%; }

#galeria img:hover {
  border: 5px solid white;
  transition: transform 0.5s;
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* contacto */
#contacto label {
  margin-top: 8px; }

#contacto iframe {
  padding-top: 30px;
  min-height: 500px; }

/* CLASES -------------------------------------------*/
/* header */
.header a {
  text-shadow: none; }

.header__banner {
  display: flex;
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0% 10%;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.56); }

.header .header__banner--index {
  height: calc(100vh - 92px);
  background-image: url("../assets/img/header-bg-sm.jpg");
  background-position: center; }
  .header .header__banner--index .header__tittle {
    color: white;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2; }
  .header .header__banner--index .header__text {
    padding: 0;
    font-weight: 300;
    font-size: 1.5;
    color: white;
    margin-bottom: 0; }

.header .header__banner--operadoras {
  height: 35vh;
  background-image: url("../assets/img/operadoras-bg-sm.jpg");
  background-position: bottom center; }

.header .header__banner--nuestros-numeros {
  height: 35vh;
  background-image: url("../assets/img/nuestros-numeros-bg-sm.jpg");
  background-position: top right; }

.header .header__banner--galeria {
  height: 35vh;
  background-image: url("../assets/img/galeria-bg-sm.jpg");
  background-position: center; }

.header .header__banner--preguntas-frecuentes {
  height: 35vh;
  background-image: url("../assets/img/preguntas-frecuentes-bg-sm.jpg");
  background-position: center right; }

.header .header__banner--contacto {
  height: 35vh;
  background-image: url("../assets/img/contacto-bg-sm.jpg");
  background-position: center; }

/* galeria */
.grid-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px; }

/* iconos */
.icons {
  height: 28px; }

.icons:hover {
  transform: scale(1.2); }

/* TRANSICIONES ----------------------------------------- */
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* MEDIA QUERIES ----------------------------------------- */
/* iconos */
@media (min-width: 768px) {
  html {
    scroll-behavior: auto !important; }
  main {
    margin: 0% 8%; }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr) !important; }
  .header__banner--index {
    background-image: url("../assets/img/header-bg.jpg") !important; }
  .header__banner--operadoras {
    background-image: url("../assets/img/operadoras-bg.jpg") !important; }
  .header__banner--nuestros-numeros {
    background-image: url("../assets/img/nuestros-numeros-bg.jpg") !important; }
  .header__banner--galeria {
    background-image: url("../assets/img/galeria-bg.jpg") !important; }
  .header__banner--preguntas-frecuentes {
    background-image: url("../assets/img/preguntas-frecuentes-bg.jpg") !important; }
  .header__banner--contacto {
    background-image: url("../assets/img/contacto-bg.jpg") !important; } }
