@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap");

//  VARIABLES  --------------------------------------------

$color-principal: #293c7d;
$color-secundario: #4899d2;
$tercer-color: #212529;
$cuarto-color: #212529;

$header-height-lg: calc(100vh - 92px);
$header-img: url("../assets/img/header-bg.jpg");
$header-height-md: 35vh;

$scroll-top-margin: 100px;

/* ESTILOS DE ETIQUETAS -------------------------------- */
body {
	font-family: Titillium Web, Helvetica !important;
	font-size: 120%;
}

/* main */
main {
	margin-top: 20px !important;
	animation: fade-in 2s;
	padding: 0% 5%;
}

/* titulos */
h2 {
	color: $tercer-color;
	font-size: 2rem;
	font-weight: 300;
	border-bottom: 1px dotted $color-secundario;
	line-height: 1.5;
	font-weight: 600;
	margin: 40px 0px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
	color: $color-principal;
	padding: 5px;
	border-bottom: 3px dotted $color-principal;
}

a {
	color: $color-principal;
	text-decoration: none;
	text-shadow: none;
}

p {
	a {
		font-weight: bold;
	}
}

/* menu */
#navbar {
	background-color: white !important;
	padding: 25px 3%;
	border-bottom: 4px solid $color-secundario;

	li {
		text-align: right;

		.nav-link {
			color: $color-principal !important;
			font-weight: 600;
			font-size: 1.2rem;
		}
	}

	.navbar-brand img {
		height: 30px;
	}

	.fab {
		color: $color-principal;
		padding-top: 3px;
		font-size: 1.5rem;
	}

	.active {
		border-bottom: 2px solid $color-secundario;
	}
}

/* header */
@mixin header($height, $img, $align) {
	.header__banner {
		display: flex;
		height: $height;
		width: 100%;
		background-image: $img;
		background-position: $align;
		background-size: cover;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0% 10%;
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.56);
	}
}

@mixin header__tittle {
	.header__tittle {
		color: white;
		padding: 0;
		margin: 0;
		font-weight: bold;
		font-size: 3rem;
		line-height: 1.2;
	}
}

@mixin header__p {
	.header__p {
		padding: 0;
		font-weight: 300;
		font-size: 1.5;
		color: white;
		margin-bottom: 0;
	}
}

.header {
	@include header($header-height-lg, $header-img, center);
	@include header__tittle;
	@include header__p;
}

$headers-array: (
	operadoras: bottom center,
	nuestros-numeros: top right,
	galeria: center,
	preguntas-frecuentes: center right,
	contacto: center,
);

// $headers-array: operadoras nuestros-numeros galeria preguntas-frecuentes contacto;
@each $header, $align in $headers-array {
	.header-#{$header} {
		@include header($header-height-md, url("../assets/img/#{$header}-bg.jpg"), $align);
	}
}

/* footer */
footer {
	margin-top: 50px;
	padding: 25px;
	font-size: 1.3rem;
	.fab {
		color: $color-principal;
		font-size: 1.5rem;
	}
}

/* recargar */
#recargar {
	background-color: $color-principal;
	margin-top: 8px;
	padding: 20px;
	text-align: center;
	scroll-margin-top: $scroll-top-margin;

	p {
		color: white;
		font-weight: bold;
		font-size: 2rem;
		line-height: 1;
	}

	select,
	input {
		margin: 5px;
		border: none;
	}
}

/* como funciona */
#como-funciona {
	scroll-margin-top: $scroll-top-margin;
	p {
		// min-height: 100px;
		padding: 15px !important;
		text-align: justify;
	}
}

/* operadoras */
#operadoras {
	.card-img-top {
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.card-body p {
		margin-bottom: 0px;
	}
}

/* galeria */
#galeria {
	img {
		width: 100%;
	}

	img:hover {
		border: 5px solid white;
		transition: transform 0.5s;
		transform: scale(1.01);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.grid-galeria {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

/* preguntas frecuentes */
.preguntas-frecuentes {
	ul {
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 30px;

			i {
				font-size: 1.2rem;
			}
		}
	}

	img {
		width: 100%;
		max-width: 800px;
	}
}

#contacto {
	label {
		margin-top: 8px;
	}
	iframe {
		padding-top: 30px;
		min-height: 500px;
	}
}

/* TRANSICIONES ----------------------------------------- */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.grid-galeria {
		grid-template-columns: 4fr;
	}

	.header .header__banner {
		background-image: url("../assets/img/header-bg-sm.jpg");
	}

	@each $header, $align in $headers-array {
		.header-#{$header} .header__banner {
			background-image: url("../assets/img/#{$header}-bg-sm.jpg");
		}
	}
}
